.handleeRegular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

.robotoRegular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 3px solid #d4af37;
  width: 100vw;
  background-color: white;
  display:flex;
}

img {
  height: 14vh;
  width: auto;
}

.col1 {
  display: flex;
  justify-content: right;
  align-items: center;
  opacity: 1;
  width: 25vw;
}

.col1:hover {
  cursor: pointer;
}

.col2 {
  text-align: center;
  padding: 1rem;
  width: 75vw;
}

.footerTitle {
  margin-bottom: 0.6rem;
  font-size: 2.5vh;
}

.address {
  font-size: 1.5vh;
}

.col3 {
  display: flex;
  justify-content: left;
  align-items: center;
  opacity: 1;
  width: 25vw;
}

.col3 > img {
  padding: 1rem;
}

.email {
  margin-top: 1vh;
}

.phone, .email {
  font-size: 2vh;
}

@media screen and (max-width: 910px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footerTitle {
    font-size: 3vw;
  }

  .address {
    font-size: 1.8vw;
  }

  img {
    height: 12vh;
  }

  .col1 {
    margin-right: -10vw;
  }

  .col3 {
    margin-left: -12vw;
  }
}