.shadowsIntoLightRegular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.scheduleContainer {
  height: 120vh;
  width: 100vw;
  margin-top: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.groupsButton {
  margin: auto;
  height: 6vh;
  width: auto;
  padding: 2rem;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.or {
  width: 100%;
  height: auto;
  margin:auto;
  font-size: 2.2rem;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 1;
}

.spacer {
  height: 3vh;
  width: 100%;
}

@media screen and (max-width: 910px) {
  .scheduleContainer {
    margin-top: 10vh;
  }
}